<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data"><br>
        clientid <input type="text" placeholder="<%=clientid%>" name="clientid" value="<%=clientid%>"><br><br>
        skypeid <input type="text" placeholder="skypeid" name="skypeid" value=""><br><br>
        firstname<input type="text" placeholder="firstname" name="firstname" value=""><br><br>
        lastname<input type="text" placeholder="lastname" name="lastname" value=""><br><br>
        email <input type="email" placeholder="email" name="email" value=""><br><br>
        mobile <input type="text" placeholder="mobile" name="mobile" value=""><br><br>
        linkedin<input type="text" placeholder="linkedin" name="linkedin" value=""><br><br>
        addprofilepicture <input type="file" placeholder="Addprofilepicture" name="addprofilepicture" value=""><br><br>
        location<select name="location" placeholder="location" value="">
            <option value=""></option>
            <option value="A">A</option>
            <option value="B">B</option>
        </select><br><br>
        company<select name="company" placeholder="company" value="">
            <option value=""></option>
            <option value="A">A</option>
            <option value="B">B</option>
        </select><br><br>

        <button>Save</button>
    </form>
</body>
</html>