<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="">
</head>
<body>

          <form action="" method="POST" enctype="multipart/form-data"><br>
            Emp id <input type="text" placeholder="<%=employeeid%>" name="employeeid" value="<%=employeeid%>"><br><br>
            Add profile picture <input type="file" placeholder="addprofilepicture" name="addprofilepicture" value=""><br><br>
            First name <input type="text" placeholder="firstname" name="firstname" value=""><br><br>
            Last name <input type="text" placeholder="lastname" name="lastname" value=""><br><br>
            Personam email <input type="email" placeholder="personalemail" name="personalemail" value=""><br><br>
            Company email <input type="email" placeholder="companyemail" name="companyemail" value=""><br><br>
            Mobile <input type="Number" placeholder="mobile" name="mobile" value=""><br><br>
            Blood group <select name="bloodgroup" placeholder="bloodgroup" value="">
                <option value=""></option>
                <option value="o-">o-</option>
                <option value="o+">o+</option>
                <option value="A-">A-</option>
                <option value="A+">A+</option>
            </select><br><br>
            Date of join <input type="date" placeholder="dateofjoin" name="dateofjoin" value=""><br><br>
            Date of birth <input type="date" placeholder="dateofbirth" name="dateofbirth" value=""><br><br>
            Relieving date <input type="date" placeholder="relievingdate" name="relievingdate" value=""><br><br>
            anniversary <input type="number" placeholder="anniversary" name="anniversary" value=""><br><br>
            Bond duration <input type="text" placeholder="bondduration" name="bondduration" value=""><br><br>
            Department <input type="text" placeholder="department" name="department" value=""><br><br>
            Fathername <input type="text" placeholder="fathername" name="fathername" value=""><br><br>
            FatherMobile <input type="tel" placeholder="fathermobile" name="fathermobile" value=""><br><br>
            Fatheroccupation <input type="text" placeholder="fatheroccupation" name="fatheroccupation" value=""><br><br>
            Father Blood group <select name="fatherbloodgroup" placeholder="fatherbloodgroup" value="">
                <option value=""></option>
                <option value="o-">o-</option>
                <option value="o+">o+</option>
                <option value="A-">A-</option>
                <option value="A+">A+</option>
          </select><br><br>
          Mothername <input type="text" placeholder="mothername" name="mothername" value=""><br><br>
          MotherMobile <input type="tel" placeholder="mothermobile" name="mothermobile" value=""><br><br>
          Motheroccupation <input type="text" placeholder="motheroccupation" name="motheroccupation" value=""><br><br>
          Mother Blood group <select name="motherbloodgroup" placeholder="motherbloodgroup" value="">
                <option value=""></option>
                <option value="o-">o-</option>
                <option value="o+">o+</option>
                <option value="A-">A-</option>
                <option value="A+">A+</option>
        </select><br><br>
            <button>Sign up</button>
          </form>
    
</body>
</html>