<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="" method="POST"><br>
        inquiryid <input type="text" placeholder="inquiryid" name="inquiryid" value=""><br><br>
        projectname<input type="text" placeholder="Projectname" name="projectname" value=""><br><br>
        firstname<input type="text" placeholder="Firstname" name="firstname" value=""><br><br>
        lastname<input type="text" placeholder="Lastname" name="lastname" value=""><br><br>
        link<input type="text" placeholder="link" name="link" value=""><br><br>
        projectyype<select placeholder="projectyype" name="projectyype" value="">
            <option value=""></option>
            <option value="A">A</option>
            <option value="B">B</option>
        </select><br><br>
        technology<input type="text" placeholder="technology" name="technology" value=""><br><br>
        platform<input type="text" name="platform" placeholder="platform" value=""><br><br>
        applicationdate<input type="date" placeholder="applicationdate" name="applicationdate" value=""><br><br>
        appliedby<input type="text" placeholder="appliedby" name="appliedby" value=""><br><br>
        rate<input type="number" placeholder="rate" name="rate" value=""><br><br>
        location<select name="location" placeholder="location" value="">
            <option value=""></option>
            <option value="A">A</option>
            <option value="B">B</option>
        </select><br><br>
        fRdate<input type="date" placeholder="frdate" name="frdate" value=""><br><br>
        lRdate<input type="date" placeholder="lRdate" name="lrdate" value=""><br><br>
        lfdate<input type="date" placeholder="lFdate" name="lfdate" value=""><br><br>
        managedby<input type="text" placeholder="managedby" name="managedby" value=""><br><br>
        meetingwith<input type="text" placeholder="meetingwith" name="meetingwith" value=""><br><br>
        assignedto<input type="text" placeholder="assignedto" name="assignedto" value=""><br><br>
        trackerid<input type="text" placeholder="trackerid" name="trackerid" value=""><br><br>
        trackername<input type="text" placeholder="trackername" name="trackername" value=""><br><br>
        devname<input type="text" placeholder="devName" name="devname" value=""><br><br>
        <button>Save</button>
</body>
</html>